# Use root/example as user/password credentials

services:

  db:
    image: mariadb
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: example
    ports:
    - 3307:3306

  adminer:
    image: adminer
    restart: always
    ports:
      - 8081:8080
